
<div id="containerHeader">
    <div>
        <a routerLink="/inicio">
            <img class="imgLogo" src="https://i.ibb.co/VMdrHVJ/logo.png" alt="LogoCorporativo">
        </a>
    </div>
    
    <div class="headerMenu">

        <a class="itemMenu" routerLinkActive="linkActive" routerLink="/inicio">Inicio</a>
        <a class="itemMenu" routerLinkActive="linkActive" routerLink="/productos">Productos</a>
        <a class="itemMenu" routerLinkActive="linkActive" routerLink="/nosotros">Sobre Nosotros</a>
        <a class="itemMenu" routerLinkActive="linkActive"routerLink="/actualidad">Actualidad</a>
        <a class="itemMenu" routerLinkActive="linkActive"routerLink="/contacto">Contacto</a>

    </div>

</div>